body{
	background-color: #00a1ec;
}
#main{
	overflow: hidden;
}
.lr_1{
	flex:1;
}
.page{
	display: none;
}
.page.current{
	display: block;
}
.page1,.page2,.page3{
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	max-width: 640px;
	width: 100%;
	height: 100%;
	background: url(../img/bg1.jpg?3) no-repeat;
	background-size: 100% 100%;
}
.page1{
	background: url(../img/bg.jpg?3) no-repeat;
	background-size: 100% 100%;
}
.t1{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:20%;
	width: 80%;
	-webkit-animation: from_left .5s;
	-moz-animation: from_left .5s;
	animation: from_left .5s;
}
.btn_box{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 10%;
	z-index: 7;
}
.btn_showBox{
	bottom: 2%;
}
.btn_action{
	display: none;
}
.lr_1 img{
	display: block;
	margin: 0 auto;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
#rule{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: block;
}
.showBg{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}
#show{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 7;
	display: none;
}
.t5{
	position: absolute;
	width: 95%;
	left: 0;
	right: 0;
	bottom: 23%;
	margin: auto;
}
#score{
	position: absolute;
	width: 90%;
	right: 0;
	left: 0;
	margin:auto;
	color: #da251c;
	top: 30%;
	text-align: right;
	font-family: georgiab;
	font-size: 2rem;
	text-shadow: #fff 0 0 1px,#fff 0 0 1px,#fff 0 0 1px,#fff 0 0 1px;
	-webkit-text-shadow: #fff 0 0 1px,#fff 0 0 1px,#fff 0 0 1px,#fff 0 0 1px;
}
.t6{
	position: absolute;
	width: 25%;
	top: 1%;
	right: 1%;
}
.t3{
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 10%;
	margin: auto;
}
#lavetime {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: none;
}
#lavetime img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.progress{
	position: absolute;
	width: 90%;
	bottom: 10%;
	left: 0;
	right: 0;
	margin:auto;
	background-color: #fff;
	height: 25px;
	line-height: 25px;
	padding: 3px;
	border-radius: 5px;
}
.progress span{
	width: 5%;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -moz-linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-animation: progress 3s linear infinite;
	-moz-animation: progress 3s linear infinite;
	animation: progress 3s linear infinite;
	display: inline-block;
	height: 100%;
	background-color: #34c2e3;
	border-radius: 3px;
	text-align: center;
	font-family: georgiab;
	font-size: .5rem;
}
/* anim */
@-webkit-keyframes progress {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}
@-moz-keyframes progress {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}
@keyframes progress {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}